@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

body {
    font-family: "Fira Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Car-list Elements */

.cars-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10%;
}

.car-list-banner {
    font-weight: bolder;
    font-size: 25px;
}

.car-list-item {
    font-size: 20px;
    margin-top: 5px;
}

img {
    border-radius: 32px;
}

#mwauto-image {
    border-radius: 0px;
}

/* Media Queries to adjust car-list text */

@media screen and (max-width: 1024px) {
    .car-list-banner {
        font-weight: bolder;
        font-size: 20px;
    }

    .car-list-item {
        font-size: 16px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 768px) {
    .car-list-banner {
        font-weight: bolder;
        font-size: 25px;
    }

    .car-list-item {
        font-size: 20px;
        margin-top: 5px;
    }
}

/* Contact Us Elements */

#list-header, #contact-header, #about-header {
    font-weight: bold;
    font-style: italic;
    font-size: 28px;
    color: #485fc7;
}

#dropdown-header {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 16px;
}

#select-container {
    margin-bottom: 6px;
}

.hours-item, #phone-number {
    font-size: 18px;
    margin-left: 3px;
    margin-bottom: 6px;
}

#hours-header {
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    color: #485fc7;
}

.about-header {
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
}

#markwitz-header {
    font-size: 30px;
}

#staff-header {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 6px;
}

.about-p {
    margin-bottom: 9px;
}