<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MWAuto</title>
</head>
<body>
    <div th:each="car: ${cars}">
        <ul>
            <li th:text="${car.id}"></li>
            <li th:text="${car.make}"></li>
            <li th:text="${car.model}"></li>
            <li th:text="${car.modelYear}"></li>
        </ul>
        <img th:src="${car.carUrl}" width="400px" height="250px" />
    </div>
</body>
</html>