<html xmlns:th="http://thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    lang="en"
    layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Cars</title>
</head>

<body>
<section layout:fragment="body">
    <div id="${car.id}" class="columns" th:each="car: ${cars}">
        <div id="car-list-container" class="column is-one-fifth">
            <ul class="cars-list">
                <li class="car-list-banner">Make:</li>
                <li class="car-list-item" th:text="${car.make}"></li>
            </ul>
            <ul class="cars-list">
                <li class="car-list-banner">Model:</li>
                <li class="car-list-item" th:text="${car.model}"></li>
            </ul>
            <ul class="cars-list">
                <li class="car-list-banner">Year Made:</li>
                <li class="car-list-item" th:text="${car.modelYear}"></li>
            </ul>
            <ul class="cars-list">
                <li class="car-list-banner">Milage:</li>
                <li class="car-list-item" th:text="${car.milage}"></li>
            </ul>
            <div th:if="${profile} != null">
                <div th:if="${profile.id} == 2">
                    <a class="button is-link" th:href="@{/cars/{carId}/update(carId=${car.id})}">Update</a>
                    <a class="button is-danger" th:href="@{/cars/{carId}/delete(carId=${car.id})}">Delete</a>
                </div>
            </div>
        </div>
        <img alt="image of car" id="car-image" class="column is-three-fifths" th:src="${car.carUrl}" width="400px"
             height="250px"/>
    </div>
</section>
</body>

</html>