<html xmlns:th="http://thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <title>Contact Us - MWAuto</title>
    <link rel="icon" th:href="@{/images/MWA.png}" type="image/x-icon">
</head>

<body>
    <!-- Navbar -->
    <div>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" th:href="@{/}">
                    <img id="mwauto-image" th:src="@{/images/MWAuto.png}" width="150" height="150">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a th:href="@{/}" class="navbar-item">
                        Cars
                    </a>

                    <a th:href="@{/contact}" class="navbar-item">
                        Contact Us
                    </a>

                    <a th:href="@{/cars/new}" class="navbar-item">
                        Create New Listing
                    </a>

                    <div></div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-link">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light">
                                Log in
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- Update Car Form -->
    <div id="outer-form-container" class="columns">
        <div id="new-form-container" class="column is-one-third">
            <h1>EDIT</h1>
            <form role="form" method="POST" th:action="@{/cars/{carId}/update(carId=${car.id})}" th:object="${car}">
                <input type="hidden" th:field="*{id}">
                <p th:if="${#fields.hasErrors('id')}" style="color: red;" th:errors="*{id}"></p>
                <div class="field">
                    <label for="make" class="label">Make</label>
                    <div class="control">
                        <input 
                            id="make" 
                            class="input is-link" 
                            type="text"
                            th:field="*{make}"
                        >
                        <p th:if="${#fields.hasErrors('make')}" style="color: red;" th:errors="*{make}"></p>
                    </div>
                </div>

                <div class="field">
                    <label for="model" class="label">Model</label>
                    <div class="control">
                        <input 
                            id="model" 
                            class="input is-link" 
                            type="text"
                            th:field="*{model}"
                        >
                        <p th:if="${#fields.hasErrors('model')}" style="color: red;" th:errors="*{model}"></p>
                    </div>
                </div>

                <div class="field">
                    <label for="year" class="label">Year Made</label>
                    <div class="control">
                        <input 
                            id="year" 
                            class="input is-link" 
                            type="number"
                            th:field="*{modelYear}"
                        >
                        <p th:if="${#fields.hasErrors('modelYear')}" style="color: red;" th:errors="*{modelYear}"></p>
                    </div>
                </div>

                <div class="field">
                    <label for="milage" class="label">Milage</label>
                    <div class="control">
                        <input 
                            id="milage" 
                            class="input is-link" 
                            type="number"
                            th:field="*{milage}"
                        >
                        <p th:if="${#fields.hasErrors('milage')}" style="color: red;" th:errors="*{milage}"></p>
                    </div>
                </div>

                <div class="field">
                    <label for="photo-url" class="label">Photo URL</label>
                    <div class="control">
                        <input 
                            id="photo-url" 
                            class="input is-link" 
                            type="text"
                            th:field="*{carUrl}"
                        >
                        <p th:if="${#fields.hasErrors('carUrl')}" style="color: red;" th:errors="*{carUrl}"></p>
                    </div>
                </div>

                <button type="submit" class="button is-link">Submit</button>
            </form>
        </div>
    </div>


</body>

</html>